In [1]:
marks = 48
if marks > 60:
    if marks >70:
        print('Distinction')
    else:
        print('First class')
elif marks >50 and marks <=60:
    print('Second Class')
elif marks >= 35:
    print('Pass')
else:
    print('Fail - Better luck next time')

Pass

In [2]:
num1 = '20'
num2 = 30
if num1 =='20':
    print('its not 20')
elif num2 > 25:
    print ('its greater than 25')

its not 20

In [3]:
location = ['Ben','Noida','Chennai','Hyd','delhi']
location

['Ben', 'Noida', 'Chennai', 'Hyd', 'delhi']

In [4]:
for i in location:
    print(i)

Ben
Noida
Chennai
Hyd
delhi

In [5]:
salary = [2000,4000,5000,7000,8000,4500,3800]
for i in salary:
    if i>5500:
        print(i)

7000
8000

In [9]:
students_scores = [35,67,78,79,12,34,67,54,89]
for marks in students_scores:
    if marks > 60:
        if marks >70:
            print(marks,'Distinction')
        else:
            print(marks,'First class')
    elif marks >50 and marks <=60:
        print(marks,'Second Class')
    elif marks >= 35:
        print(marks,'Pass')
    else:
        print(marks,'Fail - Better luck next time')

35 Pass
67 First class
78 Distinction
79 Distinction
12 Fail - Better luck next time
34 Fail - Better luck next time
67 First class
54 Second Class
89 Distinction

In [10]:
salary

[2000, 4000, 5000, 7000, 8000, 4500, 3800]

In [11]:
salary = [2000,4000,5000,7000,8000,4500,3800]
for val in salary:
    if val>5500:
        print(val)

7000
8000

In [12]:
#List Comprehension
sal = [val for val  in salary if val >5500]
sal

[7000, 8000]

In [16]:
daily_sales = [100,150,100,200,150,200,300]
income_till_date = 0
for val in daily_sales:
    income_till_date +=val
    print('income_till_date = ',income_till_date) 
print('income_till_date = ',income_till_date)

income_till_date =  100
income_till_date =  250
income_till_date =  350
income_till_date =  550
income_till_date =  700
income_till_date =  900
income_till_date =  1200
income_till_date =  1200

In [17]:
digits = [10,20,30]
for i in digits:
    print(i)
else:
    print('No items left.')

10
20
30
No items left.

In [18]:
#While loop
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')
print('yogesh')

yogesh
yogesh
yogesh
yogesh
yogesh
yogesh
yogesh
yogesh
yogesh
yogesh
yogesh
yogesh

In [19]:
#while loop
i = 0
while i < 10:
    i=i+1
    print(i,'Yogesh')

1 Yogesh
2 Yogesh
3 Yogesh
4 Yogesh
5 Yogesh
6 Yogesh
7 Yogesh
8 Yogesh
9 Yogesh
10 Yogesh

In [20]:
#Enumerate
students = ['Yogesh','Radhe','Nikki','Akshay']
for name in enumerate(students):
    print(name)

(0, 'Yogesh')
(1, 'Radhe')
(2, 'Nikki')
(3, 'Akshay')

In [21]:
#to start the index from 1
for i,name in enumerate(students,1):
    print(i,name)

1 Yogesh
2 Radhe
3 Nikki
4 Akshay

In [22]:
#ZIP
students_names = ['Yogesh','Radhe','Nikki','Akshay']
Students_marks = [53,22,55,88]

In [23]:
students_details = list(zip(students_names,Students_marks))

In [24]:
students_details

[('Yogesh', 53), ('Radhe', 22), ('Nikki', 55), ('Akshay', 88)]

In [25]:
students_name = ['Naveen','Ratha','Vivaan','Chintu','Chinnu','Yogesh']
students_marks = [53,74,62,81,55,86]

In [26]:
students_details = list(zip(students_name,students_marks))

In [27]:
students_details

[('Naveen', 53),
 ('Ratha', 74),
 ('Vivaan', 62),
 ('Chintu', 81),
 ('Chinnu', 55),
 ('Yogesh', 86)]

In [28]:
name,marks_num =zip(*students_details)

In [29]:
name

('Naveen', 'Ratha', 'Vivaan', 'Chintu', 'Chinnu', 'Yogesh')

In [30]:
marks_num

(53, 74, 62, 81, 55, 86)

In [31]:
#Enumerate and zip
students_name = ['Naveen','Ratha','Vivaan','Chintu','Chinnu','Yogesh']
students_marks = [53,74,62,81,55,86]

In [32]:
for i , (name , marks) in enumerate(zip(students_name,students_marks),1):
    print(i,name , marks)

1 Naveen 53
2 Ratha 74
3 Vivaan 62
4 Chintu 81
5 Chinnu 55
6 Yogesh 86

In [33]:
#break and continue
city = ['Ben','Noida','Chennai','Hyd','delhi']
for val in city:
    if val == 'Hyd':
        break
    print(val)

Ben
Noida
Chennai

In [34]:
city = ['Ben','Noida','Chennai','Hyd','delhi']
for val in city:
    if val== 'Hyd':
        continue
    print(val)

Ben
Noida
Chennai
delhi

In [35]:
#range
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
print(list(range(0,30,3)))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [37]:
reverse = list(range(1600,100,-100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]