In [1]:
def name_of_function (arg1,arg2):
    '''
    This is where the function document string (doc-string) goes
    '''

In [2]:
def say_hello():
    print('This is just a sample')

In [3]:
say_hello()

This is just a sample

In [4]:
def greeting(name):
    print('Hello ', name)

In [5]:
greeting('dear Students')

Hello  dear Students

In [6]:
def greeting(name):
    print('Hello %s' %name) # %s- string ,%-int

In [7]:
greeting('dear Students')

Hello dear Students

In [8]:
#without refturn
def salary_incr(salary):
    if salary <=9000:
        (salary + 1000)
    else:
        salary

In [9]:
print('Your New Salary = ', salary_incr(1500))

Your New Salary =  None

In [10]:
#with return
def salary_incr(salary):
    if salary <=9000:
        return (salary + 1000)
    else:
        return salary

In [11]:
print('Your New Salary = ', salary_incr(1500))

Your New Salary =  2500

In [12]:
def stud_marks(maths,science,english):
    return (maths+science+english)

In [13]:
print('Your Total Marks = ', stud_marks(55 ,65 , 80))

Your Total Marks =  200

In [14]:
total_marks = stud_marks(32,30,20)
total_marks

82

In [15]:
total_marks # = stud_marks(32,30,20)
if total_marks < 90:
    print(total_marks,'- You are FAIL')
elif total_marks > 90 and total_marks < 150:
    print(total_marks,'- You are PASS')
elif total_marks >151 and total_marks <250:
    print(total_marks,'- You are First Class')
else:
    print(total_marks,'- You are Distinction')

82 - You are FAIL

In [16]:
def phone_price(phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone 11':
        if 0 < phone_age <= 6:
            if phone_model_GB == 64:
                print('RS 39k - 41k')
            elif phone_model_GB == 128:
                print('Rs45k - Rs48k')
        if 6 < phone_age <=12:
            if phone_model_GB == 64:
                print('RS 29k - 31k')
            elif phone_model_GB == 128:
                print('Rs35k - Rs38k')
    elif phone_make == 'samsung B110':
        if 0 < phone_age <=6:
            print('Rs1k - 2k')
        elif phone_age >12:
            print('Rs700 - Rs800')

In [17]:
phone_price('iphone 11', 5, 64)

RS 39k - 41k

In [18]:
phone_price('samsung B110', 5, 0)

Rs1k - 2k

In [19]:
def sqre(number):
    for n in range(2,number):
        if n % 2 == 0:
            print('squared :', n**2)
        else:
            print('It is an odd number :', n)

In [20]:
sqre(27)

squared : 4
It is an odd number : 3
squared : 16
It is an odd number : 5
squared : 36
It is an odd number : 7
squared : 64
It is an odd number : 9
squared : 100
It is an odd number : 11
squared : 144
It is an odd number : 13
squared : 196
It is an odd number : 15
squared : 256
It is an odd number : 17
squared : 324
It is an odd number : 19
squared : 400
It is an odd number : 21
squared : 484
It is an odd number : 23
squared : 576
It is an odd number : 25
squared : 676

In [ ]:
#LAMBDA Function
#lambda arg : expression - syntax

In [21]:
add_num = lambda y : y + 30
add_num(50)

80

In [22]:
#multiple arguments
multi_num = lambda a, b : a * b
multi_num(15,20)

300

In [23]:
#ARGs *args
def my_fun(*args):
    for p in args:
        print (p)

In [24]:
my_fun('India', 56, 'Bengaluru', 30.40, 234)

India
56
Bengaluru
30.4
234

In [25]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(key , value)

In [26]:
my_kwargs(students=['Ram','Shiva'],Marks=[70,75])

students ['Ram', 'Shiva']
Marks [70, 75]

In [27]:
#string indexing
s = 'This batch rocks'

In [28]:
s

'This batch rocks'

In [29]:
s[0]

'T'

In [30]:
s[-1]

's'

In [ ]:
try:
    Car_number = input('Your Car  Number ')
    name = input('Name ')
    mobile = input('Mobile_number')
    if Car_number == ' ':
        raise Exception()
    elif name == ' ':
        raise Exception()
    elif mobile == ' ':
        raise Exception()
    else:
        pass
except:
    if Car_number == ' ':
        print('\n The registration number field is required. \n')
    if name == ' ':
        print('The Customer name field is required. \n')
    if mobile == ' ':
        print('The mobile number field is required.')
else:
    print('Thanks for all details')