In [1]:
#MAPS- the map() is a function that takes in two arguments map(function,data)
def grace_marks(marks):
    if marks == 30:
        return (marks + 5)
    elif marks == 31:
        return (marks + 4)
    elif marks == 32:
        return (marks + 3)
    elif marks == 33:
        return (marks + 2)
    elif marks == 34:
        return (marks + 1)
    else:
        return marks

In [2]:
score = [45,50,30,60,32,30,32,33,31,35]

In [3]:
total = list(map(grace_marks,score))
print(total)

[45, 50, 35, 60, 35, 35, 35, 35, 35, 35]

In [4]:
total.count(35)

7

In [5]:
def filter_marks(marks):
    if marks <35:
        return marks

In [6]:
score = [45,50,30,60,32,30,32,33,31,35]

In [7]:
failed = list(filter(filter_marks,score))
failed

[30, 32, 30, 32, 33, 31]

In [8]:
#using lambda function
list(map(lambda var: var%2 == 0, range(5)))

[True, False, True, False, True]

In [9]:
list(filter(lambda var: var%2 == 0, range(5)))

[0, 2, 4]

In [10]:

extra_marks = 10

def tot_score_glob():
    print("printing inside the function and total is ", 35 + extra_marks)
    
print(tot_score_glob)

<function tot_score_glob at 0x00000289E3DF3160>

In [11]:
extra_marks = 10

def tot_score_glob():
    print("printing inside the function and total is ", 35 + extra_marks)
    
tot_score_glob()

printing inside the function and total is  45

In [12]:
print("printing inside the function and total is ", 35 + extra_marks)

printing inside the function and total is  45

In [13]:
#local variable

In [14]:
def tot_score_loc():
    some_marks = 50
    print("printing inside the function and total is ", 50 + some_marks)
    
tot_score_loc()

printing inside the function and total is  100

In [15]:
print("printing inside the function and total is ", 50 + some_marks)

NameError: name 'some_marks' is not defined

In [16]:
#we gonna go experiment on local to global

In [17]:
def tot_score_loc():
    global some_marks
    some_marks = 50
    print("printing inside the function and total is ", 50 + some_marks)
    
tot_score_loc()

printing inside the function and total is  100

In [18]:
print("printing inside the function and total is ", 50 + some_marks)

printing inside the function and total is  100

In [19]:
def local_global():
    var20 = "This is fantastic"
    print(var20)
local_global()

This is fantastic

In [20]:
print(var20)

NameError: name 'var20' is not defined

In [21]:
def local_global():
    global var20
    var20 = "This is fantastic"
    print(var20)
local_global()

This is fantastic

In [22]:
print(var20)

This is fantastic

In [ ]:
#input keyboard

In [23]:
name = input("enter your name")
print('User entered; ',name)

enter your nameYogesh Bhati
User entered;  Yogesh Bhati

In [24]:
maths = int(input('Enter maths score '))
science = int(input('Enter Science score'))
total_marks = maths + science
print('Your Total Marks: ', total_marks)

Enter maths score 55
Enter Science score55
Your Total Marks:  110

In [31]:
name = input('Enter Your Name= ')
if name.isalpha():
    print('You Entered = ', name)
else:
    print('Enter only Letters')

Enter Your Name= vandana patel
Enter only Letters

In [28]:
name = input('Enter your name = ')
if name.isalpha():
    print('You entered = ', name)
else:
    print('Enter only alpha characters')

Enter your name = Yogesh Bhati
Enter only alpha characters

In [32]:
def phone_price(phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone 11':
        if 0 < phone_age <= 6:
            if phone_model_GB == 64:
                print('RS 39k - 41k')
            elif phone_model_GB == 128:
                print('Rs45k - Rs48k')
        if 6 < phone_age <=12:
            if phone_model_GB == 64:
                print('RS 29k - 31k')
            elif phone_model_GB == 128:
                print('Rs35k - Rs38k')
    elif phone_make == 'samsung B110':
        if 0 < phone_age <=6:
            print('Rs1k - 2k')
        elif phone_age >12:
            print('Rs700 - Rs800')
    else:
        print('No stock right now, please visit after few days')

In [33]:
phone = input('Enter phone maker - ')
months_old = int(input('Enter how old is your phone in months - '))
capacity = int(input('Enter GB in number - '))
phone_price(phone,months_old,capacity)

Enter phone maker - iphone 11
Enter how old is your phone in months - 9
Enter GB in number - 64
RS 29k - 31k

In [34]:
#error and exception handling
print('hello)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_24020/922442477.py, line 2)

In [35]:
#try and except
marks_1 = 88
subject = 'Data Science'
marks_2 = 33

In [37]:
try:
    total = marks_1 + subject
    print('Your Total Marks: ', total)
except :
    print('You are adding integer to string. Make sure both data types are matching')
else:
    print('Total marks = ', total)

You are adding integer to string. Make sure both data types are matching

In [38]:
try:
    total = marks_1 + marks_2
    #print('Your Total Marks: ', total)
except :
    print('You are adding integer to string. Make sure both data types are matching')
else:
    print('Total marks = ', total)

Total marks =  121

In [39]:
print('hello')

hello