In [1]:
import numpy as np
import pandas as pd


import warnings
warnings.filterwarnings('ignore')

In [2]:
ser1=pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [3]:
print(ser1['CA'])

1

In [4]:
print(ser1[0])

1

In [5]:
print(ser1[1:4])

OR    2
CO    3
AZ    4
dtype: int64

ser1

In [6]:
ser1=pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser2=pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [7]:
ser3=ser1+ser2
ser3

AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

In [8]:
matrix_data=np.matrix('22,16,140;42,70,148;30,62,125;35,68,125;25,62,125')
row_labels=['Raju','Pandey','Srini','Sunil','Ashok']
column_headings=['Age','Height','Weight']

In [9]:
df=pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
df

        Age  Height  Weight
Raju     22      16     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     125
Ashok    25      62     125

In [10]:
print(df['Height'])

Raju      16
Pandey    70
Srini     62
Sunil     68
Ashok     62
Name: Height, dtype: int32

In [11]:
type(df['Height'])

pandas.core.series.Series

In [12]:
print(df[['Height','Weight']])

        Height  Weight
Raju        16     140
Pandey      70     148
Srini       62     125
Sunil       68     125
Ashok       62     125

In [13]:
df.Height

Raju      16
Pandey    70
Srini     62
Sunil     68
Ashok     62
Name: Height, dtype: int32

In [14]:
df.loc['Raju']

Age        22
Height     16
Weight    140
Name: Raju, dtype: int32

In [15]:
df.iloc[0]

Age        22
Height     16
Weight    140
Name: Raju, dtype: int32

In [16]:
print(df.loc['Pandey','Weight'])

148

In [17]:
print(df.loc['Ashok',['Height','Weight']])

Height     62
Weight    125
Name: Ashok, dtype: int32

In [18]:
print(df.loc[['Srini','Sunil'],['Height','Weight']])

       Height  Weight
Srini      62     125
Sunil      68     125

In [21]:
print(df[df['Height']>65])

        Age  Height  Weight
Pandey   42      70     148
Sunil    35      68     125

In [22]:
booldf1=df['Height']>65
booldf2=df['Weight']>145

In [23]:
print(df[(booldf1)&(booldf2)])

        Age  Height  Weight
Pandey   42      70     148

In [24]:
df

        Age  Height  Weight
Raju     22      16     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     125
Ashok    25      62     125

In [25]:
print(df[booldf1][['Age','Weight']])

        Age  Weight
Pandey   42     148
Sunil    35     125

In [26]:
selected_candidates=df[booldf1][['Age','Weight']]

In [28]:
selected_candidates

        Age  Weight
Pandey   42     148
Sunil    35     125

In [ ]:
df

In [29]:
#reset index
print(df.reset_index())

    index  Age  Height  Weight
0    Raju   22      16     140
1  Pandey   42      70     148
2   Srini   30      62     125
3   Sunil   35      68     125
4   Ashok   25      62     125

In [32]:
print(df[df['Age']<35])

       Age  Height  Weight
Raju    22      16     140
Srini   30      62     125
Ashok   25      62     125

In [33]:
print(df.reset_index(drop=True))

   Age  Height  Weight
0   22      16     140
1   30      62     125
2   25      62     125

In [34]:
df['Profession']='Student Teacher Enginner'.split()
print(df)

       Age  Height  Weight Profession
Raju    22      16     140    Student
Srini   30      62     125    Teacher
Ashok   25      62     125   Enginner

In [42]:
print(df.set_index('Profession'))

            Age  Height  Weight
Profession
Student      22      16     140
Teacher      30      62     125
Enginner     25      62     125

In [36]:
df

       Age  Height  Weight Profession
Raju    22      16     140    Student
Srini   30      62     125    Teacher
Ashok   25      62     125   Enginner

In [ ]:
import warnings
warnings.filterwarnings('ignore')