In [1]:
import sqlite3
db = sqlite3.connect("my_file.db")

In [2]:
#cursor (declare curser more like a pointer)
cursor = db.cursor()

In [3]:
cursor.execute("CREATE TABLE score1(gender TEXT, student_id INT PRIMARY KEY, marks INT)")

In [4]:
#insert
cursor.execute("INSERT INTO score1(gender, student_id, marks) values('Male', 100, 55)")
db.commit()
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [5]:
cursor.execute("INSERT INTO score1(gender, student_id, marks) values('Female', 101, 60)")
db.commit()
print(cursor.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [6]:
#SELECT query
results = cursor.execute("SELECT * FROM score1")
for row in results:
    print(row)

('Male', 100, 55)
('Female', 101, 60)

In [7]:
cursor.execute("INSERT INTO score1(gender, student_id, marks) values('Female', 102, 68),('Female', 103, 60)")
db.commit()

In [8]:
results = cursor.execute("SELECT * FROM score1")
for row in results:
    print(row)

('Male', 100, 55)
('Female', 101, 60)
('Female', 102, 68)
('Female', 103, 60)

In [9]:
results = cursor.execute("SELECT student_id,gender FROM score1")
for row in results:
    print(row)

(100, 'Male')
(101, 'Female')
(102, 'Female')
(103, 'Female')

In [10]:
#inserting records from file (csv)
with open("C:\\Users\\yoges\\OneDrive\\Documents\\Scores_file.csv",'r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO score1 VALUES (?,?,?)",row.split(","))
        db.commit()
        no_records +=1
print(no_records, 'Records Inserted')

18 Records Inserted

In [11]:
results = cursor.execute("SELECT * FROM score1")
for row in results:
    print(row)

('Male', 100, 55)
('Female', 101, 60)
('Female', 102, 68)
('Female', 103, 60)
('Female', 85, 96)
('Female', 105, 14)
('Male', 106, 25)
('Male', 107, 36)
('Male', 108, 69)
('Male', 109, 58)
('Male', 110, 47)
('Female', 111, 74)
('Female', 112, 85)
('Female', 113, 96)
('Female', 114, 41)
('Female', 115, 52)
('Female', 116, 63)
('Female', 117, 37)
('Female', 118, 38)
('Male', 119, 29)
('Male', 120, 96)
('Female', 121, 78)

In [12]:
#WHERE CLAUSE 
sql = "SELECT * FROM score1 WHERE student_id = 105"
result = cursor.execute(sql)
for row in result:
    print(row)

('Female', 105, 14)