In [1]:
import statistics as st
x=[8,12,20,30,40,560,60,70,80,90,25,85,95,65,45,75,35,15,9]
print(st.mean(x))

74.6842105263158

In [2]:
print(st.median(x))

45

In [3]:
print(st.mode(x))

8

In [2]:
import numpy as np
import pandas as pd
x=np.random.randint(30,35,10)
print(x)

[30 31 34 32 34 30 30 30 32 34]

In [5]:
print (np.mean(x))

32.0

In [6]:
np.median(x)

32.0

In [7]:
#variance = means of squared deviations (below)
print(np.var(x))
#std=sqrt of variance
print(np.std(x))

2.8
1.6733200530681511

In [8]:
#Quantiles
y=[10,20,30,40,50,60,70,80]
y_=pd.DataFrame(y)
y_.describe()

               0
count   8.000000
mean   45.000000
std    24.494897
min    10.000000
25%    27.500000
50%    45.000000
75%    62.500000
max    80.000000

In [9]:
print(np.var(y))

525.0

In [ ]:
#inferential stastics
#-sampling data and infer the results to describe entire population

In [ ]:
#we gonna use normal and Z -distribution 
#normal dist or bernoulli distribution
#mean=median=mode(mostly) 
#(ball shape of cureve and they have diff name i.e skewed right, symmetric distribution , skewed left) 
#these above curves changes fig to fig with different representation

In [ ]:
#PDF,CDF
#PDF=Probability Density Function -
#CDF = Cumulative Density Function

In [ ]:
#central limit therorom 
#Normal distributio -Distribution is always normal irrespective of sample size
#Non-Normal Distribution-if sample size is adequate (app>30 sample),distribution starts looking normal 
#(Mean of Sample mean = Population Mean ) (population std/sqrt of sample size )

In [ ]:
#Uniform Distribution - refers to a type of probability distribution which all outcomes are equally likely 
#EX- Deck of cards - prob of getting any perticular sahpe and number (1/52)

In [ ]:
120/1.25

In [10]:
from numpy.random import randint as ri
import pandas as pd

In [11]:
marks = ri(30,100,1000)
stu_marks= pd.Series(marks)
stu_marks.head()

0    35
1    94
2    85
3    35
4    68
dtype: int32

In [12]:
marks_mean=stu_marks.mean()
marks_mean

64.884

In [13]:
marks_std=stu_marks.std()
marks_std

19.969309385086838

In [14]:
#prob of scoring 50 marks
x =50

In [15]:
import scipy.stats as st #scientific python 
prob=st.norm.cdf(x,loc=marks_mean,scale=marks_std)
print(prob)

0.22803196876237353

In [ ]:
#how its working , lets see for that Z-distribution is envoled 
#Anoral distribution(mean =median =mode) ---> the standard normal distribution (mean vl be 0 and SD is 1)
# Formula  z=(x-mean)/std

In [16]:
score=(x-marks_mean)/marks_std #z=-table.com
score

-0.7453437529049168

In [17]:
#for 50 (range of 50-60 marks) p(50<z<60)
(50-marks_mean)/marks_std

-0.7453437529049168

In [18]:
(60-marks_mean)/marks_std

-0.24457530833026161

# HYPOTHESIS
making a guess (not wild guess) based on assumption without scientific proof.or Explaining the situation based on reasonable assumption 
#Null Hypo -HO => decision always leads to status quo. current status/assuption doesnt change
#alternative HYPO =HA => decision leads to opp of HO

# One tail and Two tail tests

Example Car mileg test
Ho- all our cars avg milage is <25 KMPH
Ha - avg millage is >25 KMPH
LEFT-TAILED TEST: the alternative hypo contains < sign
RIGHT TAIL TEST : 
EXAMPLE- New method will reduce delievery time
* Ho- our new home delievery method will reduces delievery time 
* Ha - new method will increase the delievery time 
the alternative hypo contains > sign

*TWO Tail test 
Example - diff in car millage when drove by two diff person 
Two-tailed test : the alternative hypothesis contains the ' NOT equal to' sign

In [19]:
import numpy as np
mean = 25
sample_mean=24.2
std=1.5
n=30

In [20]:
z=(sample_mean-mean)/(std/np.sqrt(30))
z

-2.921186973360889

In [21]:
p_value=st.norm.cdf(sample_mean,loc=mean,scale=std/np.sqrt(30))
p_value

0.0017435024460706768

# IMPORTANT POINTS
*standard alpha level =0.05
*if p-value is <0.05 then we reject ull hypothesis (Ho)
*if p-value is >0.05 then we fail to reject the Ho

Ttest
*one sample ttest
*two sample test

In [23]:
hyp=pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Hypothesis%20ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [25]:
hyp.describe()

,ID,Gender,Race,SEB,School,Prog,Read,Write,Math1,Math2,SST
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,52.645000,51.850000,52.405000
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,9.368448,9.900891,10.735793
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,33.000000,26.000000,26.000000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,45.000000,44.000000,46.000000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,52.000000,53.000000,52.000000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,59.000000,58.000000,61.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,75.000000,74.000000,71.000000

In [26]:
hyp['Math1'].mean()

52.645

In [27]:
alpha = 0.5
xbar = 52.645
mu =60

#  1 Sample Test

In [28]:
st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

In [29]:
s,p =st.ttest_1samp(hyp.Math1,mu)

In [30]:
s

-11.102736525713398

In [31]:
p

1.3339158110547646e-22

In [32]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [33]:
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [34]:
t,p=st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [35]:
t

-0.41299864929688507

In [36]:
p

0.6800544974232143

In [37]:
#paired sample
t,p=st.ttest_rel(hyp.Math1,hyp.Math2)

In [38]:
p

0.17676525605507354

# ANNOVA - Analysis of variance

* Null hyp, typicallyis that, all means are equal 
* the independent variables are categorial 
* Dependent variables are continues

# F Value
F= Sample means of between groups/samples means of within groups

# HYPOTHESIS CONSTRUCTION
* The null hypo for ANOVA says that , average of dependent variables are same for all the given groups
* Alternative Hypothesis says, mean of dependent variable are not same for the given groups.

* -Ho:muA=muB=muC
* -Ha:not all are equal

In [3]:
hyp = pd.read_csv("https://raw.githubusercontent.com/training-ml/Files/main/Semester%20marks.csv")
hyp.head

<bound method NDFrame.head of      Student_ID  Semester  Total_Marks
0             1         1          365
1             2         3          376
2             3         1          411
3             4         3          436
4             5         2          366
..          ...       ...          ...
195         196         1          431
196         197         3          330
197         198         1          311
198         199         1          358
199         200         2          468

[200 rows x 3 columns]>

In [4]:
hyp.head()

   Student_ID  Semester  Total_Marks
0           1         1          365
1           2         3          376
2           3         1          411
3           4         3          436
4           5         2          366

# Ho is average mars of each sem are almost equal
* HA is all are not qual

In [5]:
import statsmodels.formula.api as sm 
mod=sm.ols('Total_Marks~ Semester',data=hyp).fit() #ols-ordinary list square method
mod

In [6]:
import statsmodels.api as K
aov_table=K.stats.anova_lm(mod,typ=1)
aov_table

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [7]:
#lets see manually
print('1st sem avg',np.ceil(hyp['Total_Marks'][hyp['Semester']==1].mean()))
print('2nd sem avg',np.ceil(hyp['Total_Marks'][hyp['Semester']==2].mean()))
print('3rd sem avg',np.ceil(hyp['Total_Marks'][hyp['Semester']==3].mean()))

1st sem avg 403.0
2nd sem avg 393.0
3rd sem avg 406.0