In [1]:
print(' day ' * 5)

 day  day  day  day  day

In [2]:
print (' Day ' + 2)

TypeError: can only concatenate str (not "int") to str

In [3]:
print('Day'+str(2))

Day2

In [4]:
l = ['a','b','c']
l

['a', 'b', 'c']

In [5]:
l = ['a',6,6.9]
l

['a', 6, 6.9]

In [6]:
l2=list(l)
l2

['a', 6, 6.9]

In [10]:
marks = [35,45,60,80,100]
marks

[35, 45, 60, 80, 100]

# .copy()

In [11]:
copy_marks=marks.copy()
copy_marks

[35, 45, 60, 80, 100]

In [12]:
#to split
list('YOGESH')

['Y', 'O', 'G', 'E', 'S', 'H']

# append

In [13]:
#to add anything into the list at the last we use .append()
employee = []
employee.append('Radha')
employee

['Radha']

In [14]:
employee.append('Ramesh')
employee.append('Salman')
employee

['Radha', 'Ramesh', 'Salman']

# insert()

# INDEX starts with 0,1,2,3.......................

In [15]:
employee.insert(1,"D'souza")
employee

['Radha', "D'souza", 'Ramesh', 'Salman']

In [16]:
emp_salary = [15000,28000,19000]
emp_salary

[15000, 28000, 19000]

In [17]:
emp_salary.insert(0,48000)
emp_salary

[48000, 15000, 28000, 19000]

# len() - to know the length of elements

In [18]:
a=len(emp_salary)
print(a)
b=len(employee)
print(b)

4
4

# INDEX & SLICING

In [19]:
employee

['Radha', "D'souza", 'Ramesh', 'Salman']

In [20]:
employee[1]= 'Remo'
employee

['Radha', 'Remo', 'Ramesh', 'Salman']

In [21]:
emp_salary[1] = 20000
emp_salary

[48000, 20000, 28000, 19000]

In [22]:
emp_salary[1:]

[20000, 28000, 19000]

In [23]:
emp_salary[:3]

[48000, 20000, 28000]

In [24]:
emp_salary[1:3]

[20000, 28000]

In [25]:
emp_salary + [25000]

[48000, 20000, 28000, 19000, 25000]

In [26]:
emp_salary

[48000, 20000, 28000, 19000]

# permanent assigning of data

In [27]:
emp_salary +=[250000]
emp_salary

[48000, 20000, 28000, 19000, 250000]

In [28]:
emp_salary

[48000, 20000, 28000, 19000, 250000]

# .count = to know the know particular element repeat

In [30]:
# Count
marks = [25,38,55,38,26,47,55,60,74,88,38]
marks.count(55)

2

In [31]:
marks.index(55)

2

# .extend() - to add multiple data all at a time

In [32]:
#extend to add multiple
employee.extend(['Anu','Sapana'])
employee

['Radha', 'Remo', 'Ramesh', 'Salman', 'Anu', 'Sapana']

# .pop() - to remove particular data

In [33]:
#pop
students = ['raj','ram','abid','nancy','Fatima']
students.pop()

'Fatima'

In [34]:
students.pop(1)

'ram'

In [35]:
students

['raj', 'abid', 'nancy']

# .remove

In [36]:
#Remove()
roll_numbers = [100,101,102,103,104,103]
roll_numbers

[100, 101, 102, 103, 104, 103]

In [37]:
roll_numbers.remove(103)
roll_numbers

[100, 101, 102, 104, 103]

In [38]:
roll_numbers = [100,101,102,103,104,103]
roll_numbers

[100, 101, 102, 103, 104, 103]

In [39]:
roll_numbers.remove(103)
roll_numbers

[100, 101, 102, 104, 103]

# .reverse()

In [41]:
#REVERSE
lst = [1,2,3,4]
lst.reverse()
lst

[4, 3, 2, 1]

# sort.()

In [42]:
#sort
marks

[25, 38, 55, 38, 26, 47, 55, 60, 74, 88, 38]

In [43]:
marks.sort()
marks

[25, 26, 38, 38, 38, 47, 55, 55, 60, 74, 88]

In [44]:
#for desending
marks.sort(reverse=True)
marks

[88, 74, 60, 55, 55, 47, 38, 38, 38, 26, 25]

# TUPLE

In [45]:
#TUPLE
Work_Location = ('Bengaluru','Noida','Chennai','Delhi')
Work_Location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [46]:
type(Work_Location)

tuple

In [47]:
emp_salary = (20000,350000,40000)
emp_salary

(20000, 350000, 40000)

In [48]:
#to add anything convert tuple into list
Work_Location =list(Work_Location)
Work_Location

['Bengaluru', 'Noida', 'Chennai', 'Delhi']

In [49]:
type(Work_Location)

list

In [50]:
Work_Location = tuple(Work_Location)
Work_Location

('Bengaluru', 'Noida', 'Chennai', 'Delhi')

In [51]:
len(Work_Location)

4